<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="connection.username">ILYASSE</property>
		<property name="connection.password">oraclestage</property>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.advancia.models.Allergen" />
		<!-- 
		<mapping class="com.advancia.model.Base" />
		<mapping class="com.advancia.model.Meat" />
		<mapping class="com.advancia.model.Ingredient" />
		<mapping class="com.advancia.model.Sauce" />
		<mapping class="com.advancia.model.User" />
		<mapping class="com.advancia.model.Kebab" />
		 -->
	</session-factory>
</hibernate-configuration>